{% extends "base.html" %}
{% load bootstrap3 %}
{% block titulo %} Pizzeria {% endblock titulo%}
{% block titulo_pagina %} pizzeria {% endblock titulo_pagina %}
{% block panel_botones %}
botones {{texto}}
{% endblock panel_botones %}
{% block contenido_panel %}

<!--Nav tabs-->
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#demo-ico-lft-tab-1" aria-expanded="true"><i class="icon ion-plus-round"></i></a></li>
    <li class=""><a data-toggle="tab" href="#demo-ico-lft-tab-2" aria-expanded="false"><i class="glyphicon glyphicon-cutlery"></i></a></li>
    <li class=""><a data-toggle="tab" href="#demo-ico-lft-tab-3" aria-expanded="false"><i class="glyphicon glyphicon-copyright-mark"></i></a></li>
</ul>


<!--Tabs Content-->
<div class="tab-content">
    <div id="demo-ico-lft-tab-1" class="tab-pane fade active in">
        <p class="text-main text-semibold">Registrar Pizza</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
    </div>

    <div id="demo-ico-lft-tab-2" class="tab-pane fade">
        <p class="text-main text-semibold">Registrar Bebida</p>



    </div>

    <div id="demo-ico-lft-tab-3" class="tab-pane fade">
        <p class="text-main text-semibold">Registro de Ingredientes</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
    </div>
</div>

{% endblock contenido_panel %}
