
{% load bootstrap3 %}

<form method="post">{% csrf_token %}
  <div class="col-md-6">
    {% bootstrap_field form.nombre %}
  </div>
  <div class="col-md-6">
    {% bootstrap_field form.precio %}
  </div>
    <button type="submit">Enviar</button>
</form>
