{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Registro Bebida {% endblock titulo%}
{% block titulo_panel %} Registro Bebida {% endblock titulo_panel %}
{% block contenido_panel %}
<form method="post">{% csrf_token %}
  <div class="col-md-6">
    {% bootstrap_field form_bebida.nombre %}
  </div>
  <div class="col-md-6">
    {% bootstrap_field form_bebida.precio %}
  </div>
  <button type="submit">Enviar</button>
</form>
</div>
{% endblock contenido_panel %}
