{% extends "base.html" %}
{% load bootstrap3 %}

{% block titulo %} Pizzeria {% endblock titulo%}
{% block titulo_pagina %} pizzeria {% endblock titulo_pagina %}
{% block panel_botones %}
botones {{texto}}
{% endblock panel_botones %}
{% block contenido_panel %}

  <form method="post">{% csrf_token %}
    <div class="col-md-6">
      {% bootstrap_field form.nombre %}
    </div>
    <div class="col-md-6">
      {% bootstrap_field form.precio %}
    </div>
      <button type="submit">Enviar</button>
  </form>


{% endblock contenido_panel %}
