{% extends "base.html" %}
{% load bootstrap3 %}
{% block titulo %} Registro Ingrediente {% endblock titulo%}
{% block titulo_panel %} Registro Ingrediente {% endblock titulo_panel %}
{% block contenido_panel %}

<form method="post">{% csrf_token %}
  <div class="col-md-4">
    {% bootstrap_field form_ingrediente.nombre %}
  </div>
  <div class="col-md-4">
    {% bootstrap_field form_ingrediente.precio %}
  </div>
  <div class="col-md-4">
    {% bootstrap_field form_ingrediente.cantidad %}
  </div>

  <button type="submit" class="btn btn-default">Enviar</button>
</form>
</div>

{% endblock contenido_panel %}
